{%load static%}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{%url 'store'%}">SportsWear</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          {% comment %} <a class="nav-link" href="{%url 'main'%}">Home <span class="sr-only">(current)</span></a> {% endcomment %}
        </li>
        <li  class="nav-item">
          <a class="nav-link" href="{%url 'store'%} ">Store</a>
        </li>

        <li  class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8080/">Blog</a>
        </li>
        
        <form action = "{%url 'search'%}" method = 'get'>
          <input class="form-control mr-sm-2" name = 'q' type="search" placeholder="Search" aria-label="Search">
          
        </form> 
    
      {% comment %} </ul> {% endcomment %}

      {% comment %} <ul class  = 'navbar-nav mr-auto'>
      <li class="nav"> {% endcomment %}
        {% comment %} <a class="nav-link" href="{%url 'register'%}">Register</a> {% endcomment %}
      </li>
      
      {%if user.is_authenticated%}
      <li class="nav">
        <a class="nav-link" href="{%url 'logout'%}">Logout</a>
      </li>
    
      {%else%}
      <li class="nav-item">
        <a class="nav-link" href="{%url 'login'%}">Login</a>
      </li>  
  
      {%endif%}
    </ul>
      <a href = "{% url 'cart'%}">
        <img id = 'cart-icon' src = "{%static 'css/cart.png'%}">
      </a>
      <p class = 'cart-total'>{{cartItems}}</p>
      
      
    </div>
  </nav>