{%extends 'live/base.html'%}
{%load static%}
{%block content%}

<div class="container">
    <h1 class="text-center">
      <center>Largest Online <button class="btn btn-outline-primary">MarketPlace</button></center>
    <center>
      <p>
        <h6>&lt;We value your Product&gt;</h6><br>
      </p>
    </center>   
</h1>
</div>
<div class = 'row'>
    {%for product in products%}
<div class='col-lg-4'>
    <div class='box-element'>
 <a><img class='thumbnail' src="{{product.imageUrl}}"></a>
 <h6><strong>{{product.name}}</strong></h6>
 <p>{{product.description}}</p>
<hr>
<button data-product={{product.id}} data-action='add' 
class = 'btn btn-outline-secondary add-btn update-cart'>Add to Cart</button>
<a class = 'btn btn-outline-success' href='#'>Details</a>
<h4 style = 'display: inline-block;float:right'>${{product.price|floatformat:2}}</h4>
    </div>
</div>
    {%endfor%} 
</div>

{%endblock content%}
